body {
    padding: 0 0 3rem 0;
}
:root {
    --card-background-color: rgb(236, 236, 236);
    --white-color: white;
    --black-color: black;
    --price-cutoff-color: #9A9A9A;
    --primary-color-secondary : #F93D7D;
    --primary-color-ternary : #fda900;
}
.navbar {
    width: 80%;
    margin: auto;
    background-color: transparent;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.navbar-logo {
    display: flex;
    align-items: baseline;
    color: var(--primary-color-main);
}
.navbar-search {
    position: relative;

}
.nav-icon-wishlist {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
        color: white;
        cursor: pointer;
}
.navbar-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}
a {
    text-decoration: none;
    color: inherit;

}
.i-text {
    padding: 0.5rem 0 0.5rem 3rem;
    border-radius: 0.31rem;
    width: 31rem
}
.search-icon {
    position: absolute;
    top: 30%;
    left: 1rem;
    color: inherit;
}
.nav-icon {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    cursor: pointer;
}
.btn {
    padding: 0.5rem 1rem;
    
}
.primary {
    background-color: var(--primary-color-main);
}
.nav-logo {
    padding: 0 0.5rem 0 0;
    font-size: 1.5rem;
}


.home-card-container {
    width: 80%;
    margin: auto;
    background-color: transparent;
    display:flex;
    align-items: center;
}
.category-card-container {
    padding: 1.5rem 0;
    gap: 1rem;
}
.card-container {
    width: 20%;
    text-align: center;
}
.card-container > a {
    text-align: center;
    
}
.cat-card-img {
    height: 15rem;
}
.home-wallpaper {
    height: max-content;
}
.home-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start
}

.new-arrival {
    gap: 0.5rem;
}
.new-arrival-card {
    display: flex;
    width: 50%;
    gap: 2rem;
    border: 1px solid var(--border-color-white);
    background-color: var( --div-background-color);
    padding: 1rem;

}
.new-arrival-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.arrival-image {
    height: 15rem;
    width: 100%;
    border-radius: 0;
}

/* media quaries starts here */



@media only screen and (min-width: 350px) {
    .i-text  {
        display: none;
    }
    .search-icon {
        display: none;
    }
    .nav-logo {
        font-size: 1.5rem;
    }
    .navbar {
        width: 90%;
    }
    .btn {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .nav-icon {
        display: none;
    }
    .navbar-cart {
        gap:1rem;
    }
    .cat-card-img {
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        border-radius: 999rem;
    }
    .category-card-container {
        gap: 0.3rem;
    }
    .home-card-container {
        width: 90%;
       
    }
    .home-wallpaper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
    }
    .home-text-container {
        align-items: center;
        order: 1;
    }
    .text-large {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }
    .new-arrival {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    } 
    .new-arrival-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .arrival-image {
        height: 15rem;
        width: 100%;
        border-radius: 0;
    }
    .new-arrival-card-text {
        gap: 0.5rem;
    }
}

@media only screen and (min-width: 470px){
    .cat-card-img {
        height: 5rem;
        width: 5rem;
        
    }
    .arrival-image {
        height: 15rem;
        width: 100%;
        border-radius: 0;
    }
    
}
@media only screen and (min-width: 620px){
    .cat-card-img {
        height: 6rem;
        width: 6rem;
        
    }
    .arrival-image {
        height: 15rem;
        width: 100%;
        border-radius: 0;
    }
    .btn {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .new-arrival-card {
        flex-direction: row;
    }
}

@media only screen and (min-width: 709px){
    .cat-card-img {
        height: 7rem;
        width: 7rem;
    }
    .arrival-image {
        height: 15rem;
        width: 100%;
        border-radius: 0;
    }
    .new-arrival {
        gap: 1rem

    }
}

@media only screen and (min-width: 901px){

    .cat-card-img {
        height: 8.5rem;
        width: 8.5rem;
    }
    .arrival-image {
        height: 10rem;
        width: 20rem;
        border-radius: 0;
    }
    .new-arrival {
        gap: 1rem

    }
    .i-text {
        display: block;
        
    }
    .search-icon {
        display: block;
    }
    .home-card-container {
        width: 85%;
    }
}
@media only screen and (min-width: 1010px){

    .cat-card-img {
        height: 15rem;
        width: 100%;
        border-radius: 0;
    }
    .arrival-image {
        height: 15rem;
        width: 50%;
        border-radius: 0;
    }
    .nav-logo {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
  
    .new-arrival {
        gap: 1rem;
        flex-direction: row;

    }
    .i-text {
        display: block;
    }
    .search-icon {
        display: block;
    }
    .new-arrival-card {
        width: 50%;
    }
    .nav-icon {
        display: inline-block;
    }
    .home-wallpaper {
        flex-direction: row;
    }
    .btn {
        padding: 0.5rem 1rem;
    }
    .home-text-container {
        order: 0;
    }
    .navbar {
        width: 80%;
    }
    .home-card-container {
        width: 80%;
    }
}
