body {
    padding: 0 0 3rem 0;
}
.navbar {
    width: 85%;
    margin: auto;
    background-color: transparent;
    align-items: center;
    position: relative;
}

.navbar-logo {
    display: flex;
    align-items: baseline;
    color: var(--primary-color-main);
}
.navbar-search {
    position: relative;

}
.navbar-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}
a {
    text-decoration: none;
    color: inherit;

}
.i-text {
    padding: 0.5rem 0 0.5rem 3rem;
    border-radius: 0.31rem;
    width: 31rem
}
.search-icon {
    position: absolute;
    top: 30%;
    left: 1rem;
    color: inherit;
}
.nav-icon {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    cursor: pointer;
}
.btn {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color-main);
}
.nav-logo {
    padding: 0 0.5rem 0 0;
}


.home-card-container {
    width: 80%;
    margin: auto;
    background-color: transparent;
    display:flex;
    align-items: center;
}
.category-card-container {
    padding: 1.5rem 0;
    gap: 1rem;
}
.card-container {
    width: 20%;
}
.card-container > a {
    text-align: center;
    
}
.cat-card-img {
    height: 15rem;
}
.home-wallpaper {
    height: 30rem;
}
.home-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start
}

.new-arrival {
    gap: 0.5rem;
}
.new-arrival-card {
    display: flex;
    width: 50%;
    gap: 2rem;
    border: 1px solid var(--border-color-white);
    background-color: var( --div-background-color);
    padding: 1rem;

}
.new-arrival-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* media quaries starts here */

@media screen and (max-width: 1177px){
    .i-text {
        
        width: 25rem
    }
    .cat-card-img {
        height: 12rem;
    }
    .text-large {
        font-size: 1.5rem;
        line-height:2.25rem
    }
}

@media screen and (max-width: 1097px){
    .text-medium {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 700;
    }
    .new-arrival-card {
        gap: 1.5rem;
        padding: 1rem;
    
    }
}
@media screen and (max-width: 1177px){
    .i-text {
        width: 21rem
    }
    .cat-card-img {
        height: 11rem;
    }
    .text-large {
        font-size: 1.5rem;
        line-height:2rem
    }
    .home-wall-img {
        width: 60%;
    }
}
