:root {
    --card-background-color: rgb(236, 236, 236);
    --white-color: white;
    --black-color: black;
    --price-cutoff-color: #9A9A9A;
    --primary-color-secondary : #F93D7D;
    --primary-color-ternary : #F9B93D;
}
/* nav bar css starts from here */

.navbar {
    width: 85%;
    margin: auto;
    background-color: transparent;
    align-items: center;
    position: relative;
}

.navbar-logo {
    display: flex;
    align-items: baseline;
    color: var(--primary-color-main);
}
.navbar-search {
    position: relative;

}
.navbar-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}
a {
    text-decoration: none;
    color: inherit;

}
.nav-icon-wishlist {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
        color: white;
        cursor: pointer;
}
.i-text {
    padding: 0.5rem 0 0.5rem 3rem;
    border-radius: 0.31rem;
    width: 31rem;
}
.search-icon {
    position: absolute;
    top: 30%;
    left: 1rem;
    color: inherit;
}
.nav-icon {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    cursor: pointer;
}
.btn {
    padding: 0.5rem 1rem;
    
}
.primary {
    background-color: var(--primary-color-main);
}
.nav-logo {
    padding: 0 0.5rem 0 0;
}
 /* nav bar css ends here */

 .product-card-vertical {
    width: 20%;
    display: flex;
    flex-direction: column;
    
}
.product-card-img-container {
    position: relative;
    padding: 2rem 0;
    background-color: var(--card-background-color);
}
.res-img {
    width:  12rem;
    height: 9.2rem;
    object-fit: cover;

}
.card-icon {
    position: absolute;
    color: var(--black-color);
    background-color:var(--white-color);
    padding: 0.5rem;
    border-radius: 999rem;
    cursor: pointer;
}
.card-icon-wishlist {
    top: 0.5rem;
    right: 1rem;
    
}
.fa-heart.card-icon-wishlist {
    color: var(--primary-color-secondary);
}

.product-card-text-container {
    text-align: center;
    padding: 1rem 0;
}
.wishlist-section-container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;

}
.wishlist {
    color: var(--white-color);
    background-color: var(--primary-color-secondary);
    margin: 0.5rem 0 0 0;

}
.wishlist-title {
    text-align: center;
    padding: 1rem 0;
}
